* {
  font-family: "Lato", sans-serif;
  font-family: "Open Sans", sans-serif;
  max-width: 1140px;
  margin: 0 auto;
}
.header_image {
  width: 400px;
  height: 400px;
}
.link {
  text-decoration: none;
  color: #fff;
}
header > nav {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.header_title {
  color: #272727;
  font-family: Lato;
  font-size: 80px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.header_des {
  color: rgba(39, 39, 39, 0.6);
  font-family: Lato;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
  margin-left: 20px;

  padding-bottom: 15px;
}
.shop_header {
  padding-left: 27px;
  display: block;
  align-items: center;
  justify-content: space-between;
}
.button_clr {
  border-radius: 8px;
  background-color: #e55473;
  text-align: center;
  border: 0;
  padding: 10px;
  color: #fff;
  /* font-size: 20px; */
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-bottom: 10px;
}
header {
  background: rgba(229, 84, 115, 0.1);
}
.image_1 {
  background: url(<path-to-image>), lightgray 50% / cover no-repeat;
  width: 300px;
  height: 400px;
  flex-shrink: 0;
  border-radius: 300px 300px 0px 0px;
  background: rgba(167, 33, 98, 0.15);
  margin-left: 8px;
}
.image_2 {
  background: url(<path-to-image>), lightgray 50% / cover no-repeat;
  width: 300px;
  height: 400px;
  border-radius: 300px 300px 0px 0px;
  background: rgba(5, 151, 160, 0.15);
  margin-left: 85px;
}
.image_3 {
  background: url(<path-to-image>), lightgray 50% / cover no-repeat;
  width: 300px;
  height: 400px;
  border-radius: 300px 300px 0px 0px;
  background: rgba(71, 125, 17, 0.15);
  margin-left: 85px;
}

.image_link {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.main_header {
  text-align: center;
  padding-top: 199px;
  padding-bottom: 40px;
}
.main_title {
  color: #272727;
  text-align: center;

  font-size: 40px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
}
.main_des {
  color: rgba(39, 39, 39, 0.6);
  text-align: center;
  font-family: Lato;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
}
.main_images {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.img {
  height: 250px;
  width: 250px;
  margin-bottom: 8cqi;
}
.sec_main {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding-top: 200px;
  border-radius: 8px;
  background: rgba(229, 84, 115, 0.05);
  margin-top: 150px;
}
.sec_main_header {
  display: block;
  align-items: center;
  justify-content: space-between;
  text-align: center;
  padding-left: 90px;

  margin-bottom: 8cqi;
}
.sec_title {
  color: #272727;

  text-align: center;
  padding-bottom: 17px;
}
.off-clr {
  color: #e55473;
}
.sec_des {
  color: rgba(39, 39, 39, 0.6);
  text-align: center;

  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
  padding-bottom: 17px;
}
.img2 {
  height: 200px;
  width: 200px;

  margin: 9px;
}
.insta_title {
  color: #272727;
  text-align: center;
  font-family: Lato;
  font-size: 40px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
}
.insta_des {
  color: rgba(39, 39, 39, 0.6);
  text-align: center;
  font-family: Lato;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
}
.img_ratio {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 30px;
}
.insta_text {
  padding-top: 90px;
  margin-bottom: 110px;
}
.banner-sec {
  background-image: url(images/Rectangle\ 9.png);
  height: 35vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
  display: block;
  align-items: center;
  border-radius: 8px;
  margin-top: 30px;
  margin-bottom: 110px;
}
.banner_title {
  color: #272727;
  text-align: center;
  font-family: Lato;
  font-size: 40px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  padding-top: 33px;
  padding-bottom: 5px;
}
.banner-des {
  color: rgba(39, 39, 39, 0.6);
  text-align: center;
  font-family: Lato;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
  padding-bottom: 10px;
}
.banner-button {
  border: 0px;
  margin-right: 10px;
  padding-right: 150px;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 5px;
  border-radius: 8px;
  background: #fff;
}
.sign-up {
  text-align: center;
  margin: 20px 90px 20px 0px;
  font-family: Lato;
  color: #9a17e6;
}
.foot {
  background-color: black;
  height: 35vh;
}
.foot-title {
  color: #e55473;
  font-family: Lato;
  font-size: 48px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  text-align: center;
  padding-top: 50px;
  padding-bottom: 8px;
}
.foot-des {
  color: rgba(255, 255, 255, 0.9);
  text-align: center;
  font-family: Lato;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
  padding-bottom: 8px;
}
.foot-end {
  color: rgba(255, 255, 255, 0.4);
  text-align: center;
  font-family: Lato;
  font-size: 9px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.last-clr {
  color: #ffffff;
}

/* log in page */

.body {
  background-color: #f2f2f2;
  font-family: Arial, sans-serif;
  margin: 0px;
  padding: 0px;
  background-image: url(images/Rectangle\ 4.png);
  background-position: center;
}
.container {
  width: 400px;
  margin: 0 auto;
  margin-top: 100px;

  padding: 20px;
  border-radius: 15px;
  box-shadow: -3px 3px 3px 3px rgb(255, 137, 157);
}

h2 {
  text-align: center;
  margin-bottom: 40px;
}

form input {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border-radius: 6px;
  border: 1px solid #9e141493;
}

form button {
  background-color: #47cc4b;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 7px;
  cursor: pointer;
  width: 100%;
}

form button:hover {
  background-color: #17e621;
}
